html {
    height: 100%;
}


/* ヘッダー */
header {
    background-color: #514663;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* レイヤー指定 */
    z-index: 999;
    transition: transform 0.3s 0.3s;
}

/* ヘッダー消える用 */
header.hidden {
    transform: translateY(-70px);
}

/* ハンバーガメニューー */
.header__container {
    max-width: 10000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    color: #fff;
    padding: 0 25px;
    margin-right: auto;
    margin-left: auto;
}

/* ヘッダーロゴ */
.header__logo {
    text-decoration: none;
    font-size: 40px;
    /* 全部大文字に */
    /* text-transform: uppercase; */
    color: #fff;
    font-weight: bold;
    font-family: "Kaisei Opti", serif;
}



/* ===============================================
ハンバーガーボタンのスタイリング
=============================================== */
.hamburger {
    width: 40px;
    height: 80px;
    position: relative;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;

    background-color: #514663;
    cursor: pointer;
}

.hamburger span,
.hamburger span::after,
.hamburger span::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.5s;
}

.hamburger span::before {
    top: -10px;
}

.hamburger span::after {
    bottom: -10px;
}

.hamburger.open span {
    background-color: transparent;
}

.hamburger.open span::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger.open span::after {
    bottom: 0;
    transform: rotate(-45deg);
}


/* ===============================================
メニューのスタイリング
=============================================== */
.nav {
    position: fixed;
    width: 25%;
    height: 100vh;
    top: 80px;
    right: -100%;
    background-color: #514663;
    padding: 50px 0;
    transition: all 0.5s;
    border-top: 1px solid #fff;
}

/* 
.nav__item {
  display: block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 20px 0 20px 50px;
  text-transform: uppercase;
} */

.nav__item a {
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px 0 20px 50px;
    text-transform: uppercase;
    font-family: "Kaisei Opti", serif;
}

/* 
.nav__item:hover {
  color: #514663;
  background-color: #fff;
} */

.nav__item a:hover {
    color: #514663;
    background-color: #fff;
}

.nav.open {
    right: 0;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background-color: #e1e0e5;
}

/* フォント適用 */
.kaisei-opti-regular {
    font-family: "Kaisei Opti", serif;
    /* font-weight: 400; */
    font-style: normal;
}


h2 {
    /* font-family: "Nico Moji"; */
    font-family: "Kaisei Opti", serif;
    font-size: 50px;
    color: #514663;
}

h3 {
    /* font-family: "Nico Moji"; */
    font-family: "Kaisei Opti", serif;
    font-size: 35px;
    color: #514663;
}

p{
     font-family: "Kaisei Opti", serif;
    /* font-size: 35px; */
    color: #514663;
}

.imgdiv {
    text-align: center;
}


.pin {
    width: 30px;
    height: 30px;
}

#pinKanto {
    position: relative;
    top: -130px;
    left: 125px;
    z-index: 995;
}

#pinTokai {
    position: relative;
    top: -165px;
    left: 60px;
    z-index: 995;
}

#pinChubu {
    position: relative;
    top: -280px;
    left: 75px;
    z-index: 995;
}

.tooltipBlock {
    position: relative;
}

p#toolTipKanto {
    display: none;
    position: absolute;
    top: -190px;
    left: 758px;
    transform: translateX(-50%);
    z-index: 1;
    background: #514663;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
    font-family: "Kaisei Opti", serif;
}

p#toolTipKanto:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #545454;
}

p#toolTipTokai {
    display: none;
    position: absolute;
    top: -252px;
    left: 692px;
    transform: translateX(-50%);
    z-index: 997;
    background: #514663;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
    font-family: "Kaisei Opti", serif;
}

p#toolTipTokai:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #545454;
}

p#toolTipChubu {
    display: none;
    position: absolute;
    top: -367px;
    left: 707px;
    transform: translateX(-50%);
    z-index: 1;
    background: #514663;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
    font-family: "Kaisei Opti", serif;
}

p#toolTipChubu:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #545454;
}

/* モーダルと背景の指定 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
    z-index: 998;
}

/* モーダルの擬似要素の指定 */
.modal:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
    opacity: 1;
    visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
}

/* モーダルのタグ */
.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #b07d9d;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #78556b;/*線色*/
  font-family: "Kaisei Opti", serif;
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/* モーダルを閉じるボタンの指定 */
.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #514663;
    border-radius: 50%;
    cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content {
    background: #fff;
    text-align: left;
    line-height: 1.8;
    padding: 20px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p {
    margin: 1em 0;
}

/* フェードイン（段階的に表示される）アニメーション を作るための CSS キーフレーム定義
    要素にanimation: fadeIn　で指定できる */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ボタン */
#btn1 {
    text-align: center;
    font-family: "Kaisei Opti", serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 550px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #b07d9d;
    color: #fff;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid #996d89;
}


/* コンテンツ幅固定（フッター高さ固定） */
.content {
    min-height: calc(100vh - 50px);
    padding-top: 60px;
    margin-bottom: 50px;
}

footer {
    position: sticky;
    top: 100vh;
    height: 50px;
    text-align: center;
    background-color: #514663;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    /* 一番下に表示 */
    padding-top: 20px;
    font-weight: bold;
    font-family: "Kaisei Opti", serif;
    color: #e1e0e5;
  
}
